<app-header (selectedDate)="searchData($event)"></app-header>
<hr />
<div class="searchContainer">
<form>
    <input type="text" placeholder="Search.." name="searchName" value="searchName" class="search" [(ngModel)] = "searchName">
    <button type="submit" class="searchBtn"><i class="fa fa-search"></i></button>
</form>
</div>
<br />
<br />
<div class="menu">
<ag-grid-angular 
#agGrid
style="width: auto; height: 500px; padding: 5px; " 
class="ag-theme-fresh"
[enableSorting]="true"
[enableFilter]="true"
[rowData]="rowData | filter: searchName" 
[columnDefs]="columnDefs"
rowSelection="multiple"
[paginationAutoPageSize]="true"
[pagination]="true"
>
</ag-grid-angular>

</div>